body{
    margin:0px;
    padding: 30px;
    min-height: 50vh;
    background-color: beige;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap:5rem;
}

header{
    font-size: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
}

#book-list{
    width:90vw;
    padding: 1rem;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: 2px solid red;
    gap:2rem;
}

.book{
    width:15rem;
    padding: 5px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: 1px solid blue;
    font-size: 25px;
    flex: 0 0 auto;
}

.book>*{
    display: flex;
    justify-content: center;
    align-items: center;

}

.read-complete{
    background-color: green;
    color: white;
    width:70%;
}

.read-not{
    background-color: red;
    width: 70%;
}

.add-book-button::after{
    content: "Add New Book";
    font-size: 36px;
    color: blue;
    background-color: yellowgreen;
    border-radius: 5px;
    border:2px solid grey;
    padding: 5px 10px;
}

.add-book-button{
    width: max-content;
}

dialog[open]{
    border: 2px solid black;
    border-radius: 5px;
    padding: 0px;
    background-color: sandybrown;
    display: flex;
}

dialog form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3rem;
    padding: 2rem;
}

.remove-button{
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1.5rem;
}

.remove-button:active{
    background-color: darkred;
}

